{
  "DatabaseConnection": {
    "Host": "127.0.0.1",
    "Port": 3306,
    "User": "admin",
    "Password": "password",
    "Database": "homectrl"
  },
  "AppSettings": {
    "TokenSecret": "--[ enter secret here ]--",
  },
  "PluginSettings": {
    "RegisteredPlugins": [
      {
        "Name": "HomeCTRL Plugin Example",
        "Path": "../empty-plugin/bin/Debug/netstandard2.0/HomeCTRL.Plugin.EmptyExample.dll",
        "RootNamespace": "HomeCTRL.Plugin.EmptyExample"
      }
    ]
  },
  "Logging": {
    "LogLevel": {
      "Default": "Warning"
    }
  },
  "AllowedHosts": "*"
}